type project
title
    Lizard
owners
    Phil Brooks
authors 
    Phil Brooks
projectUrl
    http://github.com/pbbwfc/Lizard
iconUrl
    https://raw.githubusercontent.com/pbbwfc/Lizard/master/docs/files/img/logo.png
licenseUrl
    http://github.com/pbbwfc/Lizard/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    F# Chess
summary
    F# Chess
description
    F# Chess


