source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

group Build
  source https://nuget.org/api/v2
  
	nuget DockPanelSuite 2.9.0.0
	nuget FParsec-Big-Data-Edition 1.0.1
	nuget FsPickler 1.4.0
	nuget FsPickler.Json 1.4.0
	nuget FsUnit 1.2.1.0
	nuget Http.fs 1.4.0
	nuget SourceGrid 4.4.0
	nuget Unquote 2.2.2

	nuget SourceLink.Fake
	nuget FAKE
	nuget FSharp.Formatting

	github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2