framework: auto-detect

source https://nuget.org/api/v2

github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs

  
nuget FSharp.Core
nuget DockPanelSuite
nuget FsPickler.Json
nuget SourceGrid
nuget NUnit.Console
nuget NUnit 
nuget NUnit3TestAdapter
