framework: auto-detect

source https://nuget.org/api/v2

github fsprojects/FsUnit src/FsUnit.NUnit/FsUnitTyped.fs

group Build
  source https://nuget.org/api/v2
  
	nuget DockPanelSuite
	nuget FsPickler.Json
	nuget Http.fs
	nuget SourceGrid


group Test
  source https://nuget.org/api/v2
  
  nuget NUnit.Console
  nuget NUnit 
  nuget NUnit3TestAdapter
